@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-jakarta);

  --color-ink: #091426;
  --color-muted: #45474c;
  --color-brand: #006398;
  --color-page: #f7f9fb;
  --color-panel: #f2f4f6;
  --color-line: #e0e3e5;
  --color-btn: #e6e8ea;
}

body {
  background: var(--color-page);
  color: var(--color-ink);
}