PORT=3001                  #EJEMPLO

DATABASE_HOST=localhost    #EJEMPLO
DATABASE_PORT=5432         #EJEMPLO
DATABASE_USER=praxis       #EJEMPLO
DATABASE_PASSWORD=praxis   #EJEMPLO
DATABASE_NAME=praxis       #EJEMPLO

JWT_SECRET=change-me       #EJEMPLO